[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-dotenv = "*"
pytest-asyncio = "*"
nest-asyncio = "*"

[packages]
aiohttp-sse-client = "*"
aiohttp = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
